@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
html{
	margin:0;
	padding:0;
}
body {
  background-color: #f2f4f6;
  font-family: 'Open Sans', sans-serif;
  text-align: center; }
::-webkit-input-placeholder { font-style:italic; font-size:12pt; padding-left:5px; }
::-moz-placeholder { font-style:italic; font-size:12pt; padding-left:5px; } /* firefox 19+ */
:-ms-input-placeholder { font-style:italic; font-size:12pt; padding-left:5px; } /* ie */
input:-moz-placeholder { font-style:italic; font-size:12pt; padding-left:5px; }
h1 {
  background-image: url("images/logo_big.png");
  background-image: -webkit-image-set(url("images/logo_big.png") 1x, url("images/logo_big@2x.png") 2x);
  width: 385px;
  height: 81px;
  text-indent: -9999px;
  white-space: nowrap;
  margin: 50px auto; }
  @media all and (max-width: 420px) {
    h1 {
      width: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; } }
  @media all and (max-width: 330px) {
    h1 {
      width: 250px; } }

h2 {
  font-size: 96pt;
  color: #A9B2BC;
  line-height: 120px;
  font-weight: 700;
  word-spacing: 15px;
  text-align: center;
  display: block;
  font-family: Garamond;  }
p.center{
	text-align: center;
}
.bblack{
	color:#000;
}
.grey, .privacy{
	color:#696969;
	font-size:21pt;
	line-height: 50px;
}
input, input#name, input#email{
	width:300px;
	height:50px;
}
.topright{
	position: absolute;
	top: 50px;
	right: 100px;
	font-size: 25pt;
	word-spacing: 25px;
	width: 200px;
}
.topleft{
	position: absolute;
	top: 50px;
	left: 100px;
	width: 300px;
}
.middle{
	padding-top:200px;
}
input#submit{
	width:204px;
	height:56px;
}
h3 {
  font-size: 28px;
  color: #C7CCD1;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 100px;
  text-align: center;
  position: relative; }
  h3#download-section {
    margin-top: 50px;
    padding-top: 40px; }
  h3::after {
    content: "";
    background-color: #e2e5e8;
    height: 4px;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    position: absolute;
    margin-top: -50px;
    border-radius: 2px; }
    @media all and (max-width: 740px) {
      h3::after {
        width: auto;
        left: 20px;
        right: 20px;
        margin-left: 0; } }

a {
  text-decoration: none; }

p {
  max-width: 826px;
  margin: 30px auto;
  font-size: 17px;
  font-weight: 300;
  color: #848D94;
  line-height: 25px;
  text-align: left; }
  p.center {
    text-align: center; }
  p strong {
    color: #8A8F94;
    font-weight: 600; }
  p a {
    color: #9ECADF;
    font-weight: 600; }
    p a:hover {
      text-decoration: underline; }
    p a.twitter {
      color: #5eaade; }
    p a.dribbble {
      color: #f26798; }
    p a.github {
      color: #323131; }

button, .button {
  background-color: #ffffff;
  color: #021535;
  border: 1px solid #021535;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 35px;
  margin: 26px 5px 0 5px;
  cursor: pointer; }
  button:focus, .button:focus {
    outline: none; }
	submit {
    background-color: #ffffff; }
  button:hover, .button:hover {
    background-color: #021535; 
	color:#ffffff;}
  button:active, .button:active {
    background-color: #81ccee; }
  button.cancel, .button.cancel {
    background-color: #D0D0D0; }
    button.cancel:hover, .button.cancel:hover {
      background-color: #c8c8c8; }
    button.cancel:active, .button.cancel:active {
      background-color: #b6b6b6; }
  button.download, .button.download {
    position: fixed;
    right: 30px;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    color: #ABCADA;
    font-weight: 500;
    text-transform: uppercase;
    z-index: 3; }
    @media all and (max-width: 1278px) {
      button.download, .button.download {
        display: none; } }

.center-container {
  max-width: 700px;
  margin: 70px auto; }

pre {
  background-color: #49483e;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-line;
  text-align: left;
  font-size: 14px;
  max-width: 600px; }
  pre .str {
    color: #e6db74; }
  pre .func {
    color: #66d9ef; }
  pre .val {
    color: #a381ff; }
  pre .tag {
    color: #e92772; }
  pre .attr {
    color: #a6e22d; }

.showcase {
  background-color: #eceef0;
  padding: 20px;
  display: inline-block;
  width: 383px;
  vertical-align: top;
  position: relative; }
  @media all and (max-width: 865px) {
    .showcase {
      margin: 5px auto;
      padding: 46px 20px; } }
  @media all and (max-width: 440px) {
    .showcase {
      width: auto; } }
  .showcase h4 {
    font-size: 16px;
    color: #BCBCBC;
    line-height: 22px;
    margin: 0 auto;
    font-weight: 400; }
  .showcase.sweet h4 {
    width: 117px;
    height: 25px;
    margin-top: -3px;
    text-indent: -9999px;
    background-image: url("images/logo_small.png");
    background-image: -webkit-image-set(url("images/logo_small.png") 1x, url("images/logo_small@2x.png") 2x); }
  .showcase h5 {
    margin-bottom: -7px;
    text-align: left;
    font-weight: 500;
    text-transform: uppercase;
    color: #c2c2c2; }
  .showcase button {
    margin-bottom: 10px; }
  .showcase .vs-icon {
    background-image: url("images/vs_icon.png");
    background-image: -webkit-image-set(url("images/vs_icon.png") 1x, url("images/vs_icon@2x.png") 2x);
    width: 69px;
    height: 69px;
    position: absolute;
    right: -34px;
    top: 60px;
    z-index: 2; }
    @media all and (max-width: 865px) {
      .showcase .vs-icon {
        margin: 5px auto;
        right: auto;
        left: 50%;
        margin-left: -35px;
        top: auto;
        bottom: -35px; } }

ul.examples {
  list-style-type: none;
  width: 700px;
  margin: 0 auto;
  text-align: left;
  padding-left: 0; }
  @media all and (max-width: 758px) {
    ul.examples {
      width: auto; } }
  ul.examples li {
    padding-left: 0; }
  ul.examples .ui, ul.examples pre {
    display: inline-block;
    vertical-align: top; }
    @media all and (max-width: 758px) {
      ul.examples .ui, ul.examples pre {
        display: block;
        max-width: none;
        margin: 0 auto; } }
  ul.examples .ui {
    width: 300px;
    text-align: center; }
    ul.examples .ui button {
      margin-top: 12px; }
    ul.examples .ui p {
      text-align: center;
      margin-bottom: 0; }
  ul.examples pre {
    max-width: 370px;
    margin-top: 67px; }
    @media all and (max-width: 758px) {
      ul.examples pre {
        margin-top: 16px !important;
        margin-bottom: 60px; } }
  ul.examples .warning pre {
    margin-top: 93px; }

ol {
  max-width: 700px;
  margin: 70px auto;
  list-style-position: inside;
  padding-left: 0; }
  ol li {
    color: #A7ADB2; }
    ol li p {
      margin-bottom: 10px; }

table {
  width: 700px;
  font-size: 14px;
  color: #8a8f94;
  margin: 10px auto;
  text-align: left;
  border-collapse: collapse; }
  @media all and (max-width: 750px) {
    table {
      width: auto;
      margin: 10px 20px; } }
  table th {
    background-color: white;
    padding: 9px;
    color: #acb9be;
    font-weight: 400;
    text-align: center;
    position: relative; }
    table th .border-left, table th .border-right {
      position: absolute;
      background-color: white;
      border-radius: 50%;
      top: 0;
      left: -17px;
      width: 37px;
      height: 37px; }
    table th .border-right {
      left: auto;
      right: -17px; }
    @media all and (max-width: 750px) {
      table th:nth-child(2) {
        display: none; } }
  table td {
    padding: 10px 20px;
    vertical-align: top; }
    table td:first-child {
      padding-left: 0px; }
    table td:last-child {
      padding-right: 0px; }
    @media all and (max-width: 750px) {
      table td:nth-child(2) {
        display: none; } }
    @media all and (max-width: 360px) {
      table td {
        padding: 10px 4px; }
        table td b {
          font-size: 13px; } }

footer {
  margin-top: 100px;
  padding-bottom: 30px;
  color: #9A999F;
  display: inline-block;
  position: relative;
  color: gray;
  font-weight: 400;
  color: #93a1aa;
  font-weight: 300; }
  footer .te-logo {
    text-indent: -99999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 16px;
    width: 16px;
    display: inline-block;
    margin-right: 5px;
    background-image: url("images/te-logo-small.svg");
    position: absolute;
    left: -22px;
    top: 3px; }
@media only screen and (max-width: 1024px) and (orientation : landscape){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:60px;
		margin-top:80px;
	}
			.topright{
	position: absolute;
	top: 30px;
	right: 80px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
}
@media only screen and (max-width: 853px) and (orientation : landscape){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:60px;
		margin-top:80px;
	}
}
@media only screen and (max-width: 853px) and (orientation : landscape){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:60px;
		margin-top:90px;
	}
		.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
}
@media only screen and (max-width: 800px){
			.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
}
@media only screen and (max-width: 768px){
			.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
}
@media only screen and (max-width: 736px){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:60px;
		margin-top:90px;
	}
		.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
}
@media only screen and (max-width: 667px){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:60px;
		margin-top:90px;
	}
	input, input#name, input#email, input#submit{
		width:320px;
		padding:0px;
   }	
   	.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
}
@media only screen and (max-width: 640px){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:60px;
		margin-top:90px;
	}
	input, input#name, input#email, input#submit{
		width:320px;
		padding:0px;
   }	
   	.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
}
@media only screen and (max-width: 568px){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:60px;
		margin-top:90px;
	}
	input, input#name, input#email, input#submit{
		width:320px;
		padding:0px;
   }	
   	.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
}
@media only screen and (max-width: 533px){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:50px;
		margin-top:90px;
	}
		.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
}
@media only screen and (max-width: 480px){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:40px;
		margin-top:90px;
	}
	.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:220px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
}
@media only screen and (max-width: 414px){
	h2{
		font-size:48px;
		word-spacing: 0px;
		line-height:50px;
		margin-top:90px;
	}
		.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 36pt;
	word-spacing: 0px;
	width:220px;
}
}
@media only screen and (max-width: 320px){
.topright{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 48pt;
	word-spacing: 0px;
	width:150px;
}
.topleft{
	position: absolute;
	top: 10px;
	left: 10px;
	width:0px;
}
.topleft img{
	width:100px;
}
.middle{
	padding-top:0px;
}
	html, body{
		overflow-x:hidden;
	}
   h2{
	  line-height:72px;
	  word-spacing: 0px;
	  font-size:48px;
	  margin-top:80px;
   }
   .topright{
		font-size:30pt;
   }
   input, input#name, input#email, input#submit{
		width:270px;
		padding:0px;
   }	
}